@tailwind base;
@tailwind components;

.btn {
    @apply text-center rounded-sm py-5 font-light text-lg w-full;
  }

input{
    @apply rounded-sm py-5 font-light text-lg w-full text-left border border-gray-600 px-5 ;
    &:focus{
        @apply outline-none border-teal-500;
    }
}

form{
    input{
        @apply mb-3;
    }
}

@tailwind utilities;

.nav_link {
    @apply ml-8 border-b-2 rounded-t border-white;

    a {
        @apply py-4 px-1;
    }
}

.nav_link:hover {
    @apply border-black;
}

