{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "css/styles.css" %}">
        <title>{% block page_title  %}{% endblock page_title %}| Nbnb </title>
    </head>
    <body class="text-gray-800 mt-40">
        <header class="container max-w-full inset-0 flex items-center justify-between px-20 h-40 border-b border-gray-300 fixed  bg-black" >
            <div class="flex flex-none items-center ">
            <a href="{% url "core:home" %}">
                <img class="w-8 items-center mr-5" src="{% static 'img/logo.png' %}" />
                <ul><li class = "text-xl font-bold items-center text-white mr-12 "><a>airbnb</a></li></ul>
            </a>
            </div>
            <div class="shrink w=full">
            {% block search-bar %}
            <form method="get" action="{% url "rooms:search" %}">
                <input class=" border px-5 py-5 w-64 text-sm font-medium placeholder-gray-600 rounded-full hover:bg-gray-200" name="city" placeholder="어디로 여행가세요?" />
            </form> 
            {% endblock search-bar %}
            </div>
            <div class="flex-none justify-between text-white ">
            {% include "partials/nav.html" %}
            </div>
        </header>

        {% block content %}{% endblock %}

        {% include "partials/footer.html" %}

    </body>
</html>